<% @players.each do |player| %>
<table class="table table-striped">
    <td><%= player.name %></td>
    <td><%= attachment_image_tag player, :image, size:"50x50" %></td>
    <td><%= player.height %></td>
    <td><%= player.weight %></td>
    <% end %>f